{% extends "base.html" %}
{%load static%}
{% block title %} NABWES | Memners {% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
        <!-- Volunteers Start -->
        <div class="container-fluid volunteer py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="volunteer-img">
                                    <img src="{% static 'img/volunteers-1.jpg' %}" class="img-fluid w-100" alt="Image">
                                    <div class="volunteer-title">
                                        <h5 class="mb-2 text-white">Michel Brown</h5>
                                        <p class="mb-0 text-white">Communicator</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="volunteer-img">
                                    <img src="{% static 'img/volunteers-3.jpg' %}" class="img-fluid w-100" alt="Image">
                                    <div class="volunteer-title">
                                        <h5 class="mb-2 text-white">Kankon Senior Secondary School</h5>
                                        <p class="mb-0 text-white">Member</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="volunteer-img">
                                    <img src="{% static 'img/volunteers-2.jpg' %}" class="img-fluid w-100" alt="Image">
                                    <div class="volunteer-title">
                                        <h5 class="mb-2 text-white">Michel Brown</h5>
                                        <p class="mb-0 text-white">Communicator</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="volunteer-img">
                                    <img src="{% static 'img/volunteers-4.jpg' %}" class="img-fluid w-100" alt="Image">
                                    <div class="volunteer-title">
                                        <h5 class="mb-2 text-white">Michel Brown</h5>
                                        <p class="mb-0 text-white">Communicator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h5 class="text-uppercase text-primary">Members of Nabwes</h5>
<!--                        <h1 class="mb-4">Join your hand with us for a better life and beautiful future.</h1>-->
                        <p class="mb-4"> All student of indigene of Badagry west are automatically the member of the National Association of Badagry
                            West Student (Nabwes). The membership extends to all secondary school students of badagry west indigen
                        </p>
                        <p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Tertiary institution students within and diaspora shall
                            be members of the National Association of Badagry west student and
                                    shall be made to pay the sum of N1,000 (annual due) or as otherwise stated by the SPC..</p>
                        <p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> A student on suspension from any tertiary institution shall
                            remain a bonafide member of NABWES</p>
                        <p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> A withdrawn or dismissed student shall
                            automatically forfeit his /her rights and claims to the membership of NABWES</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteers End -->
{%endblock%}
