{% extends "base.html" %} {%block content%}
<script src="https://js.paystack.co/v1/inline.js"></script>
<br /><br /><br /><br /><br />
<div class="container">
  <button onclick="payWithPaystack()" class="btn btn-success">Pay Now</button>
</div>
<br />
<script>
  function payWithPaystack() {
      var handler = PaystackPop.setup({
          key: '{{ paystack_public_key }}',
          email: '{{ payment.email }}',
          amount: {{ payment.amount|floatformat:2 }} * 100,
          ref: '{{ payment.ref }}',
          callback: function(response) {
              window.location.href = "{% url 'verify-payment' payment.ref %}";
          },
          onClose: function() {
              alert('Payment window closed');
          }
      });
      handler.openIframe();
  }
</script>
{%endblock%}
